body {
	background-color: #A9EFDA;
	height: 100%;
  	padding: 15;
  	margin: 0;
	text-align: center;
}

.title1{
	color: #00357A;
	font-size: 145px;
	margin: 0;
	font-family: 'Luckiest Guy', cursive;
}

.title2{
	text-align: center;
	color: #F88812;
	font-size: 95px;
	margin:0;
	margin-top: -0.5em;
	font-family: 'Luckiest Guy', cursive;
}

.lott_num, .luck_ball, .chances_title {
	text-align: center;
	font-family: 'Actor', sans-serif;
	color: #151414;
	font-size: 35px
}
